sandbox/workflowExemple.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7758a8a5-e011-493b-87d1-9d6973a4e44e"
    },
    {
      "parameters": {
        "url": "https://www.marchespublics.gov.ma/index.php?page=entreprise.EntrepriseDownloadCompleteDce&reference=910643&orgAcronym=q1s",
        "responseFormat": "file",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
            }
          ]
        }
      },
      "name": "Download ZIP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "ac04b453-32fa-43ec-b3e1-945b6848b055"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        400,
        20
      ],
      "id": "4f2a4341-9889-4261-8146-e8871a1865f6",
      "name": "Compression"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file_2",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        600,
        40
      ],
      "id": "673eb33e-a573-4b85-8f8a-33a38db88a67",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Voici le contenu brut d’un dossier d’appel d’offres marocain. Il contient :{{ $json.text }}\n\nLis attentivement ce document. Ton objectif est d’extraire toutes les informations nécessaires et de les structurer dans le format JSON suivant :\n\n{\n  \"reference\": \"\",\n  \"objet_marche\": \"\",\n  \"maitre_ouvrage\": {\n    \"nom\": \"\",\n    \"adresse\": \"\",\n    \"telephone\": \"\",\n    \"fax\": \"\"\n  },\n  \"budget\": \"\",\n  \"date_publication\": \"\",\n  \"delai_execution\": {\n    \"total\": \"\",\n    \"phase1\": \"\",\n    \"phase2\": \"\"\n  },\n  \"documents_requis\": {\n    \"administratif\": [],\n    \"technique\": [],\n    \"financier\": []\n  },\n  \"conditions_participation\": [],\n  \"composition_equipe\": {\n    \"chef_de_mission\": {\n      \"diplome\": \"\",\n      \"experience\": \"\",\n      \"competences\": []\n    },\n    \"expert_exploitation\": {\n      \"diplome\": \"\",\n      \"experience\": \"\",\n      \"competences\": []\n    },\n    \"expert_maintenance\": {\n      \"diplome\": \"\",\n      \"experience\": \"\",\n      \"competences\": []\n    }\n  },\n  \"critere_selection\": {\n    \"note_technique\": \"\",\n    \"note_financiere\": \"\",\n    \"note_minimale\": \"\",\n    \"ponderation\": {\n      \"technique\": \"\",\n      \"financiere\": \"\"\n    }\n  },\n  \"mode_soumission\": {\n    \"electronique\": true,\n    \"support_portail\": \"www.marchespublics.gov.ma\"\n  }\n}\n\nNe reformule pas le contenu, ne propose pas de résumés. Donne uniquement le JSON demandé, basé uniquement sur ce que tu trouves dans le document.\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        840,
        20
      ],
      "id": "71e3cbad-6995-402c-994f-34d6d251fdea",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "tnooVd5xteACK15G",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Download ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download ZIP": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "039c2f12-c47d-41de-87cf-04cb1fb45bd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afd48ca1d9ca0e339234c0e4574851025f3d7ea4c30b15e87d73be833fa1dddc"
  },
  "id": "xboX8aTRe2v7o7CC",
  "tags": []
}